@using GroupM.CSE.ProofOfIdea.Models
<div class="row">
    <div class="row text-center">
        <h3 class="cseBlue">@ResourceLang.StartupsAtCSE</h3>
        <h5 class="cseBlue"><a href="@Url.Action("List","Company")">@ResourceLang.AllCompanies</a></h5>
    </div>
    <div class="row">
        @using (var db = new ApplicationDbContext())
        {
            foreach (var dbCompany in db.Companies.OrderByDescending(c => c.ImpressionCount).Take(6))
            {
                <a href="/Company/@dbCompany.Id">
                    <div class="col-lg-2 text-center" style="padding-bottom:20px">
                        <img class="thumbnail" style="width:80%;min-width:100px;max-width:200px;min-height:80px;padding:16px;max-height:136px" src="@(!String.IsNullOrEmpty(dbCompany.LogoUrl)? dbCompany.LogoUrl:"/content/images/profilelogo_cse.png")" /><br />
                        <h5>@dbCompany.Name</h5>
                    </div>
                </a>
            }
        }
    </div>
</div>
