@using GroupM.CSE.ProofOfIdea.Models
@{
    string currentView = ResourceLang.MailboxDeleted;
    ViewBag.Title = currentView;
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-sm-4">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="@(currentView==ResourceLang.MailboxInbox?"active":"")"><a href="@Url.Action("Index")">@ResourceLang.MailboxInbox</a></li>
            <li role="presentation" class="@(currentView==ResourceLang.MailboxSent?"active":"")"><a href="@Url.Action("Sent")">@ResourceLang.MailboxSent</a></li>
            <li role="presentation" class="@(currentView==ResourceLang.MailboxDeleted?"active":"")"><a href="@Url.Action("Deleted")">@ResourceLang.MailboxDeleted</a></li>
        </ul>
    </div>
    <div class="col-sm-8">
        @{
            int mailId = -1;
            if (!String.IsNullOrWhiteSpace(Request.Params["id"]) && Int32.TryParse(Request.Params["id"], out mailId))
            {
                using (var db = new ApplicationDbContext())
                {

                    var mailMsgItem = db.CSEMessageItems.FirstOrDefault(mmi => mmi.Id == mailId);
                    Html.RenderPartial("_MailView", mailMsgItem.GetViewModel());
                    // If the recipient, mark the mail as read
                    if (User.Identity.Name != mailMsgItem.Sender.UserName)
                    {
                        mailMsgItem.DateRead = DateTime.Now;
                        db.SaveChanges();
                    }
                }
            }
            else
            {
                Html.RenderPartial("_MailboxView", currentView);
            }
        }
    </div>
</div>